body {
  margin: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  text-align:center;
}



/* nav {
  padding:20px;
  background-color: bisque;
} */

nav.primary-nav{
  padding: 30px;
  background-color: bisque;
}

nav a {
  margin-right: 25px;
}

/* nav a.active{
  font-weight: bold;
  text-decoration: none;
  color: black;
} */

.card-container{
  display:grid;
  grid-template-columns: 1fr;
  gap:1rem;
}

@media screen and (min-width:992px){
  .card-container{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card{
  background-color: blanchedalmond;
  padding: 10px;
}